[submodule "eureka-server"]
	path = eureka-server
	url = https://github.com/tharusenevirathne/eureka-server.git
[submodule "config-server"]
	path = config-server
	url = https://github.com/tharusenevirathne/config-server.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/tharusenevirathne/api-gateway.git
